name: DevSecOps Pipeline

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

permissions:
  contents: read
  security-events: write
  actions: read

jobs:
  build-and-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Instalar dependencias
        run: npm ci

      - name: Tests
        run: npm test --if-present

      - name: Gitleaks - scan repo
        if: github.event_name != 'pull_request'
        uses: zricethezav/gitleaks-action@v2
        continue-on-error: true 

      - name: Trivy FS (Push)
        if: github.event_name != 'pull_request'
        uses: aquasecurity/trivy-action@0.20.0
        with:
          scan-type: fs
          ignore-unfixed: true
          severity: HIGH,CRITICAL
          vuln-type: os,library
          exit-code: '0'        # <- Continua aunque detecte
          format: table

      - name: Trivy FS (PR)
        if: github.event_name == 'pull_request'
        uses: aquasecurity/trivy-action@0.20.0
        with:
          scan-type: fs
          ignore-unfixed: true
          severity: HIGH,CRITICAL
          vuln-type: os,library
          exit-code: '1'        # <- Rompe el pipeline si hay HIGH/CRITICAL
          format: table

      - name: Build Docker image
        run: docker build -t juice-shop:ci .

      - name: Trivy Image scan
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: 'juice-shop:ci'
          format: 'table'
          severity: 'HIGH,CRITICAL'
          ignore-unfixed: true
          exit-code: '1'
